# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!BB_FHD_patch.xp3
!BB_FHD_patch/*
!version.dll
!.gitignore
!patch.bat
!README.md
!ENCG/*

# Images
!bg_conf_mes_t.png
!bg_conf_snd_t.png
!bg_conf_snd_t_ch01.png
!bg_conf_snd_t_ch02.png
!bg_conf_snd_t_ch03.png
!bg_conf_snd_t_ch04.png
!bg_conf_snd_t_ch99.png
!cnf_rclick_conf.png
!cnf_rclick_hide.png
!cnf_rclick_save.png
!cnf_win_full.png
!config_reset.png
!sysjump_conf_mes.png
!sysjump_conf_snd.png